html, body {
 	background: linear-gradient(#304352, #d7d2cc);
 	background-repeat: no-repeat;
 	background-size: cover;
 	text-align: center;
 	font-family: Lucida Grande, sans-serif;

}
img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
h1 {
	
}
h2 {
	text-align: left;
	margin-left: 200px;
}
h3 {
	font-size: 20px;
}
h4 {

}
ul, li {
	display: inline;
}

.zajmy {
	display: inline-block;
	margin: 10px 10px;
}

#sport {
	border: 2px none;
	border-radius: 15px;
	height: 150px;
	width: 200px;
	padding: 50px;

	/* stejne velke tabulky, nezalezi na textu*/
	display: table-cell;
}
#technologie {
	border: 2px none;
	border-radius: 15px;
	height: 150px;
	width: 200px;
	padding: 50px;
	margin: 20px;
	display: table-cell;
}
#aktivity {
	border: 2px none;
	border-radius: 15px;
	height: 150px;
	width: 200px;
	padding: 50px;
	display: table-cell;
}
/* Skill Bar */
.container {
  width: 60%;
  background-color: #ddd;
  border-radius: 20px;
  text-align: right;
  /* timto jsem to vycentroval*/
  margin: 0 auto;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 20px;
  color: white;
  border-radius: 20px;
}

.html {
	width: 63%;
	background-color: rgb(240, 100, 40);

}
.css {
	width: 63%; 
	background-color: #2196F3;}

.sales {
	width: 85%;
	background-color: black;

}

/* END Skill Bar */

.exp {
	text-align: left;
	padding-left: 200px;
}

.kp {
	display: block;
}

footer {
	border:2px solid black;
	border-radius: 10px;
	font-size: 12px;
	color: grey;
	width: 60%;
	display: inline-block;
}

/* Social Icons*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

